
.parent .child .title{
    color: red;
}
.parent .title{
    color: blue;
}

.parent p{
    color: green;
}

.title{
    color: green;
}

.one,
.two,
.three,
.four{

    background-color: brown;
    color: white;
    display:block;
    margin: 10px;
    padding:10px;
    max-height: 20px;
    width: fit-content;
}   

.four{
    overflow:hidden;
}

